:root {
  --primary-color: #5596f6;
  font-family: Roboto;
}

.active {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  border: solid #1f628d 2px;
  text-decoration: none;
}

.avatar {
  width: 720px;
  height: 720px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  position: relative;
}

.avatar .eyes {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 2;
}

.avatar .backgroud {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}

.avatar .neck {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}

.avatar .nose {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}

.avatar .mouth {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}

.avatar .ears {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}

.avatar .hair {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}

.avatar .leg {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}

.avatar .accessories {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}

.collapsed {
  display: none;
}

.container-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.no-disp {
  display: none;
}

.attributes_list {
  list-style-type: none; /* Remove bullets */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.primary_button {
  background: #e2eaf0;
  background-image: -webkit-linear-gradient(top, #e2eaf0, #edf0f2);
  background-image: -moz-linear-gradient(top, #e2eaf0, #edf0f2);
  background-image: -ms-linear-gradient(top, #e2eaf0, #edf0f2);
  background-image: -o-linear-gradient(top, #e2eaf0, #edf0f2);
  background-image: linear-gradient(to bottom, #e2eaf0, #edf0f2);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #171717;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.primary_button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  border: solid #1f628d 2px;
  text-decoration: none;
}
